<div class="container mt-3">
  <main>

    <section>
      {{mensagemStatus}}
    </section>

    <section>
      <a href="cadastrar.php?page=ata">
        <button class="btn btn-success mb-3">Novo Cadastro</button>
      </a>
    </section>

    <section>

      <div class="row">
        <div class="form-group col-4 col-lg-6">
          <label for="">Filtrar Condominio</label>
          <select class="form-select" name="condominios">
            <option selected>Todos</option>
            <option>{{condominios}}</option>
          </select>
        </div>
        <div class="form-group col-4 col-lg-4">
          <label>Situação</label>
          <select class="form-select" name="situacao">
            <option selected>Pendente</option>
            <option>Resolvido</option>
            <option>Todos</option>
          </select>
        </div>
        <div class="col-2 col-lg-1 d-flex align-items-end justify-content-center">
          <button id="ajaxBtn" class="btn btn-primary btn-sm lh-1">Aplicar Filtro</button>
        </div>
        <div class="col-2 col-lg-1 d-flex align-items-end justify-content-center">
          <div class="btn btn-light btn-sm lh-1">Limpar Filtro</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-8 col-lg-10">
          <label for="">Buscar Ocorrencia</label>
          <input type="text" name="busca" class="form-control" value="{{busca}}">
        </div>
        <div class="form-group col-4 col-lg-2">
          <label for="data_inicio">Data</label>
          <input type="date" class="form-control" name="data_busca" value="{{busca}}">
        </div>
      </div>
    </section>

    <section>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center mt-3">
          {{paginacao}}
        </ul>
      </nav>

    </section>

    <section>
      <div class="container my-3">

      </div>
    </section>

    <section>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
          {{paginacao}}
        </ul>
      </nav>

    </section>

  </main>
</div>